*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

i{
    font-size: 16px;
}

.navbar-brand img {
    width: 70px;
    margin-left: 70px;
}

.navbar-brand{
    width: 4rem;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    padding-bottom: 15px;
}

.form-white.input-group>.form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 0 0 1px #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }
  .dropdown-menu-end{
    right: 0.3rem;
  }

  .logo-header a h2{
    font-family: "VNI-HLThuphap", Verdana, Tahoma;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    padding-top: 20px;
    color: #fff;
    font-weight: 100;
    font-size: 25px;
    }

.logo-header {
    height: 110px;
}

.logo_thu_phap {
    font-family: "VNI-HLThuphap", Verdana, Tahoma;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    color: #fff;
    font-weight: 100;
    font-size: 25px;
}

footer.text-center.text-lg-start.text-white {
    background-color: #333334;
}

.text-center.p-3 {
    background-color: #000;
}
/* 
.active{
    font-weight: 600;
}


#header{
    display: flex;
    padding: 10px 20px;
    background-color: #edeaea;
    position: relative;
}

#header .logo{
    width: 17%;
    text-align: center;
}

#header .logo img{
    width: 80px;
    height: 80px;
}

#header .logo h2{
    font-family: "VNI-HLThuphap", Verdana, Tahoma;
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

#header .header-content{
    width: 100%;
    padding-left: 80px;
}

#header .header-content .hd-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.hd-search form {
    display: flex;
    position: relative;
}

.hd-search input{
    padding: 7px 10px;
    width: 49rem;
    border: solid 1px #5e5c5c;
    font-style: italic;
}

.hd-top .fa-bell{
    margin-left: 15rem;
}

.hd-search button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 35px;
    border-left: none !important;
    background-color: #fff;
    border: solid 1px #5e5c5c;
}

.hd-top .hd-sign{
    font-size: 18px;
    font-weight: 600;
}

.hd-top .hd-sign button{
    padding: 5px 7px;
    border: none;
    background-color: #dedada;
    border-radius: 2px;
}

#header .header-content .hd-bottom ul{
    display: flex;
}

.header-content .hd-bottom li{
    padding: 20px 59px 20px 0;
    list-style: none;
}

.hd-bottom li a{
    font-weight: 600;
    color: #000;
}

.hd-bottom li a:hover{
    cursor: pointer;
    color: rgb(177, 58, 58);
}

.manager-pictures{
    position: absolute;
    display: none;
}

.manager-admin{
    position: absolute;
    display: none;
}

.manager-pictures,
.manager-admin{
    z-index: 20;
    right: 110px;
    top: 60px;
    background: #ccc;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.manager-pictures li,
.manager-admin li{
    padding: 5px 15px;
    font-size: 16px;
}

.manager-pictures li:hover,
.manager-admin li:hover{
    cursor: pointer;
    background-color:#827f7f ;
    transition: 1s;
}

.manager-pictures li a{
    color: #000;
}

.footer {
    background-color: #edeaea;
    position: absolute;
    width: 100%;
    padding: 20px 0px;
}

.footer .company {
    float: left;
    padding-left: 30px;
    padding-right: 150px;
}

.footer .company .logo {
    font-size: 30px;
    margin: 5px;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 20px;
}

.company .logo .logo-a {
    text-decoration: none;
    color: #000;
} 

.company-home .logo .fa-solid{
    font-size: 30px;
    padding: 0 10px;
    float: left; 
} 

.company .company-home {
    padding-bottom: 15px;
}

.company .company-home .company-list{
    display: flex;
    list-style: none;
}

.company-home .company-list li a{
    text-decoration: none;
    padding: 0 5px;
    color: #000;
}

.company-home .company-list li a:hover {
    opacity: 1;
}

.company .company-year {
    padding-left: 5px;
    color: #000;
    font-style: italic;
    font-size: 12px
}

.footer .information{
    float: left;
    width: 500px;
    padding-right: 147px;
}

li{
    list-style: none;
 }
 
.footer .information .information-list{
    list-style: none;
    line-height: 1.8;
    color: #000;
}

.footer .information .information-list:first-child{
    line-height: 1.4;
}

.information .information-list li i{
    padding-right: 10px;
}

.footer .introduce {
    float: left;
    width: 376px;
    color: #000;
}

.footer .introduce .intro-title{
    font-size: 24px;
}

.footer .introduce .intro-content{
    text-align: justify;
    line-height: 1.2;
    font-size: 14px;
}

.intro-list .intro-media{
    list-style: none;
    display: flex;
}

.intro-media li a{
    padding-right: 10px;
    color:#000;
}

.fa-bars,
.hd-search.hd-search-moblie{
    display: none;
}

@media (max-width: 740px) {
    #header {
        display: block;
    }

    #header .header-content .hd-bottom ul{
        display: none;
    }

    #header .logo {
        width: 100%;
    }

    .fa-bars,
    .hd-search-moblie{
        display: block;
    }

    .hd-search-web{
        display: none;  
    }

    #header .header-content{
        padding-left: 0;
    }

    .hd-navigation{
        display: none;
    }

    .fa-bars{
        font-size: 25px;
    }

    .container-fluid{
        padding-right: 0;
        padding-left: 0;
    }
}
 */

