.blog-main .blog-adver{
    width: 20%;
}

.blog-adver .news-hot-list{
    padding: 10px;
    border: 1px solid #8d8a8a;
    overflow: hidden;
}

.blog-adver .news-hot-list img{
    width: 274px;
    transition-duration: 0.3s;
}

.blog-adver .news-hot-list img:hover{
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.2);
}

.blog-adver  h5{
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.blog-adver  button{
    padding: 7px 12px;
    border: none;
    border-radius: 2px;
    background-color: #8d8a8a;
    color: #fff;
}

.blog-adver  button:hover{
    text-decoration: underline;
    background-color: #ccc;
    cursor: pointer;
}

h1.section-header{
    text-align: center;
    margin: 2rem 0;
    color: #aba6a6;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 35px;
}

@media (max-width: 740px){
    #blog .blog-main{
        display: none;
    }

    .blog-main .blog-adver{
        width: 100%;
    }

    .news-hot-list li{
        padding-left: 10px;
    }

    .blog-adver .news-hot-list img {
        width: 100%;
    }
}