.detail{
    background-color:  #fff;
    margin-left: 20px;
    min-height: 560px;
    padding-top: 31px;
}

.detail .detail-content{
    display: inline-block;
    width: 1175px;
    color: #000;
    padding-left: 18px;
    padding-right: 2px;
    padding-top: 10px;
    min-height: 500px;
    background-color: #ccc;
}

.detail-content .detail-img{
    text-align: center;
    display: inline-block;
    width: 98.5%;
    padding-top: 10px;
}

.detail-content h3{
    padding: 10px 0; 
    text-transform: uppercase;
    font-size: 25px;
}

.detail-content .dt-ct-date{
    font-style: italic;
    font-size: 14px;
}

.detail-content p{
    text-align: justify;
    padding: 10px 20px 10px 0px;
    line-height: 1.4;

}

.list-update {
    float: right;
    right: 30px;
    background-color: #ccc;
    width: 250px;
    margin-right: 22px;
    margin-top: 4px;
    color: #000;
}

.list-update .list-title {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    padding-top: 5px;
}

.list-update .list-update-content {
    padding-left: 10px;
}

.list-update .list-update-content a {
    line-height: 1.8;
    text-decoration: none;
    color: #000;
}

.list-update .list-update-content a:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}


/* comment */

.cmt {
    margin-bottom: 20px;
}
.cmt-par {
    display: flex;
}


.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cmt-detail {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    min-width: 500px;
    min-height: 80px;
    height: 80px;
    width: 300px;
}

.cmt-detail p {
    font-size: 14px;
    padding: 0;
}

.cmt-add span {
    margin-left: 20px;
}

.cmt-add span:first-child {
    margin-left: 40px;
}
