.masonry-container{
    column-count:3 ;
    column-gap: 10px;
}

.grid-item{
    break-inside: avoid;

}
.grid-item img{
    width: 100%;
}

.item-content{
    padding: 5px;
    margin-top: 10px;
    border-radius: 5%;
    overflow: hidden;
}
.grid-item .item-des{
    padding: 0 5px;
}

.grid-item:first-child .item-content {
    margin-top: 0;
  }