<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}" >
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.2.1-web/css/all.min.css' %}" >
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css'}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font_thu_phap/vnithufap.ttf' %}">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   {% block link %} {% endblock %}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   <title>{% block title %} {% endblock %}</title>
   <style>
   a{
    text-decoration: none;
    }
    
    </style>
    
</head>
<body>

    {% comment %} <div class="container-fluid">
    <!-- header -->
    <div id="header">
        <div class="logo">
            <a href="./base.html"><img src="{% static 'image/logo.png' %}" alt=""> <br><h2>THE &nbsp ART &nbsp PAINTING</h2></a>
        </div>
        <div class="header-content">
            <div class="hd-top">
                <div class="hd-search hd-search-web">
                    <form action="{% url 'search'%}" method="get">
                        <input type="search" placeholder=" Search" name ="query" >
                        <button type="submit"class="fa-solid fa-magnifying-glass"></button>
                    </form>
                </div>
                <i class="fa-solid fa-bars"></i>
                <div class="hd-sign">
                    <a href="{% url 'register' %}"><button >Đăng ký</button></a> /
                    <a href="{% url 'loginPage' %}"><button >Đăng nhập</button></a>
                </div>

                <div class="hd-sign-loggedIn" style="display:grid;justify-items: center;">
                    <i class="fa-regular fa-user icon-user-home"></i>
                    {% comment %} <div class="loggedIn_hidden"> 
                        <p>{{ user.username }}</p>
                        <a href="{% url 'profile' %}">Trang cá nhân</a>
                        <a href="{% url 'logoutPage' %}">đăng xuất</a>
                    </div> 
                </div>
            </div>
            <div class="hd-bottom">
                <ul class="hd-navigation">
                    <li><a href="{% url 'home' %}">TRANG CHỦ </a></li>
                    <li><a href="{% url 'list' %}">KHÁM PHÁ <i class="fa-solid fa-caret-down"></i></a></li>
                    <li><a href="{%url 'news' %}">TIN TỨC </a></li>
                    <li><a href="{%url 'contact' %}">LIÊN HỆ </a></li>
                    <li><a href="{%url 'blog' %}">BLOG </a></li> {% endcomment %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid header" >
          <div class="logo-header">
            <a class="navbar-brand logo" href="{% url 'home' %}" >
              <img src="{% static 'image/logo.png' %}" alt="" class="">
              <h2>The &nbsp Art &nbsp Painting</h2>
          </a>
          </div>
            
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="me-3">
                <div class="form-white input-group" style="width: 250px;">
                <input type="search" class="form-control rounded" placeholder="Search ... ( / )"
                    aria-label="Search" aria-describedby="search-addon" />
                </div>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Trang Chủ</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'list' %}">Khám Phá</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Liên Hệ</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'news' %}">Tin Tức</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                {% if request.user.is_superuser %}
                    <li class="nav-item me-3 me-lg-0 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-plus plus-btn plus_btn"></i>
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-end login_btn" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'admin_list' %}">Quản Lý Tranh</a></li>
                            <li><a class="dropdown-item" href="{% url 'upload_painting' %}">Đăng tranh</a></li>
                    
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item me-3 me-lg-0 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-mdb-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-regular fa-user rounded-circle user_button"></i> {{ user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end logout_btn" aria-labelledby="navbarDropdown1">
                  {% if request.user.is_authenticated %}
                      <li class="is-logout"><a class="dropdown-item " href="{% url 'profile' %}">Trang Cá Nhân</a></li>
                      <li class="is-logout"><a class="dropdown-item " href="{% url 'logoutPage' %}">Đăng Xuất</a></li>
                  {% else %}
                      <li class="is-login"><a class="dropdown-item " href="{% url 'register' %}">Đăng Ký</a></li>
                      <li class="is-login"><a class="dropdown-item " href="{% url 'loginPage' %}">Đăng nhập</a></li>
                  {% endif %}
                </ul>
                </li>
            </ul>
            </div>
            {% comment %} <div class="hd-search hd-search-moblie">
                <form action="{% url 'search'%}" method="get">
                    <input type="search" placeholder=" Search" name ="query" >
                    <button type="submit"class="fa-solid fa-magnifying-glass"></button>
                </form>
            </div> {% endcomment %}
        </div>
    </nav>
    <!-- Navbar -->
    {% block content %}

    {% endblock %}
  <footer
  class="text-center text-lg-start text-white"
  style="background-color: #929fba"
  >
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
  <!-- Grid column -->
  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold logo_thu_phap">
      The &nbsp Art &nbsp Painting
    </h6>
    <p>
      Bạn có thể xem và thưởng thức những bức tranh nghệ thuật được các họa sĩ phác họa thành bức tranh.
    </p>
  </div>
  <!-- Grid column -->

  <hr class="w-100 clearfix d-md-none" />

  <!-- Grid column -->
  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
    <p>
      <a class="text-white" href="{% url 'home' %}" >Trang chủ</a>
    </p>
    <p>
      <a class="text-white" href="{% url 'list' %}" >Khám phá</a>
    </p>
    <p>
      <a class="text-white" href="{% url 'contact' %}" >Liên hệ</a>
    </p>
    <p>
      <a class="text-white" href="{% url 'news' %}" >Tin tức</a>
    </p>
    <p>
      <a class="text-white" href="{% url 'blog' %}" >Blog</a>
    </p>
  </div>
  <!-- Grid column -->

  <hr class="w-100 clearfix d-md-none" />

  <!-- Grid column -->
  <hr class="w-100 clearfix d-md-none" />

  <!-- Grid column -->
  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold">Liên Hệ</h6>
    <p><i class="fas fa-home mr-3"></i> Số 25 ngõ 24 Hoàng Quốc Việt, Cổ Nhuế, HÀ Nội</p>
    <p><i class="fas fa-envelope mr-3"></i> abcd@gmail.com</p>
    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold">Các trang tương tác</h6>

    <!-- Facebook -->
    <a
       class="btn btn-primary btn-floating m-1"
       style="background-color: #3b5998"
       href="#!"
       role="button"
       ><i class="fab fa-facebook-f"></i
      ></a>

    <!-- Twitter -->
    <a class="btn btn-primary btn-floating m-1"
       style="background-color: #55acee"
       href="#!"
       role="button"
       ><i class="fab fa-twitter"></i
      ></a>

    <!-- Google -->
    <a class="btn btn-primary btn-floating m-1"
       style="background-color: #dd4b39"
       href="#!"
       role="button"
       ><i class="fab fa-google"></i
      ></a>
        <!-- Instagram -->
        <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
       ></a>

     <!-- Linkedin -->
     <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
       ></a>
     <!-- Github -->
     <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
       ></a>
   </div>
 </div>
 <!--Grid row-->
</section>
<!-- Section: Links -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div
  class="text-center p-3"
  style="background-color: rgba(0, 0, 0, 0.2)"
  >
© 2023 Copyright:

<a class="text-white" href="https://mdbootstrap.com/"
  >PitechLab</a>
</div>
<!-- Copyright -->
</footer>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="{% static 'js/base.js' %}"></script>
{% comment %} <script> 
    var isLoggedIn = {{ request.user.is_authenticated|lower }} 
</script> 
{% endcomment %}
<script src="{% static 'js/home.js' %}"></script>  

{% block link_js %} {% endblock %}
</html>