{% extends "pages/base.html" %}
{% load static %}  
{% block title %} 
    Home
{% endblock %}

{% block link %} 
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <link rel="stylesheet" href="{% static 'font_thu_phap/vnithufap.ttf' %}">
{% endblock %}

{% block content %} 
    <div class="home">
        <div class="home_video">
            <i class="fa-solid fa-x exit_video"></i>
            <video controls autoplay>
                <source src="{% static 'video/vdhome.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="home-slides">
            <a class="slide_truoc" onclick="next()"><i class="fa-solid fa-chevron-left"></i></i></a>
            <a class="slide_sau" onclick="prev()"><i class="fa-solid fa-chevron-right"></i></a>
            <div class="slide">
                <img src="{% static 'image/image_painting/thu_phap/thu_phap_02.jpg' %}" alt="">
                <div class="slide-content">
                    <h3>Triển lãm "nhóm Tháng 11 và các bạn"</h3>
                    <span>Hội Mỹ thuật TP.HCM (quận 3)</span>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'image/image_painting/cay_tre/quat_tre_04.jpg' %}" alt="">
                <div class="slide-content">
                    <h3>Triển lãm tranh lụa “Kén”</h3>
                    <span>Hội Mỹ thuật TP.HCM (quận 3)</span>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'image/image_painting/con_cong/con_cong_01.jpg' %}" alt="">
                <div class="slide-content">
                    <h3>Triển lãm tranh “Mây”</h3>
                    <span>Bảo tàng Mỹ thuật Việt Nam
                        66 Nguyễn Thái Học, Ba Đình, Hà Nội</span>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'image/image_painting/hoa_hong/hoa_hong_01.jpg' %}" alt="">
                <div class="slide-content">
                    <h3>Triển lãm tranh "Ngẫu nhiên"</h3>
                    <span> Nhà triển lãm Mỹ thuật Việt Nam, phố Ngô Quyền, quận Hoàn Kiếm, Hà Nội</span>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_05.jpg' %}" alt="">
                <div class="slide-content">
                    <h3>Hanoi Studio Gallery </h3>
                    <span>Phố Mạc Đĩnh Chi, Ba Đình, Hà Nội</span>
                </div>
            </div>
        </div>
        <div class="home-artists">
            <h2>TRANH NỔI BẬT</h2>
            <ul class="art-list">
                <li>
                    <div class="art-img">
                        <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_10.jpg' %}" alt="">
                    </div>
                    <div class="art-infor">
                        <h3>Tranh hoa sen</h3>
                        <p class="art-content">
                            Tranh hoa sen là một dạng nghệ thuật truyền thống đặc biệt của Việt Nam, nơi hoa sen được sử dụng làm chủ đề tạo ra các bức tranh đẹp mắt và ý nghĩa. Hoa sen là biểu tượng quan trọng trong văn hóa và tôn giáo của Việt Nam, được coi là biểu tượng của sự thuần khiết, sự tinh khiết và sự nảy nở trong bùn lầy.
                            Trong tranh hoa sen, người họa sĩ thường sử dụng nét vẽ tinh tế và màu sắc tươi sáng để tái hiện hình ảnh của hoa sen. Tranh thường có những chi tiết tỉ mỉ, từ những cánh sen mỏng manh đến những búp sen chưa nở. Bức tranh hoa sen có thể được vẽ trên nhiều chất liệu khác nhau như giấy, vải hoặc gỗ và được sử dụng để trang trí các nơi công cộng, nhà cửa hoặc dùng làm quà biếu.
                            Tranh hoa sen không chỉ mang ý nghĩa về mặt thẩm mỹ mà còn có ý nghĩa sâu sắc về tâm linh và tinh thần. Hoa sen thường được coi là biểu tượng của sự trường sinh, sự trỗi dậy và sự sạch sẽ trong tâm hồn. Nó cũng thể hiện sự phát triển và trưởng thành, từ việc nảy mầm từ đáy bùn lầy cho đến khi trở thành một bông hoa đẹp tuyệt vời.
                        </p>
                    </div>    
                </li>
                <hr>
                <li>   
                    <div class="art-img">
                        <img src="{% static 'image/image_painting/hoa_mai/hoa_mai_02.jpg' %}" alt="">
                    </div>
                    <div class="art-infor">
                        <h3>Tranh hoa mai</h3>
                        <p class="art-content">
                            
                            Tranh hoa mai là một loại tranh truyền thống của Việt Nam, nơi hoa mai được sử dụng như một chủ đề tạo nên các tác phẩm nghệ thuật đẹp mắt và ý nghĩa. Hoa mai được coi là biểu tượng của sự phú quý, may mắn và sự thịnh vượng trong văn hóa Việt Nam.
                            Trong tranh hoa mai, người họa sĩ thường sử dụng các nét vẽ mềm mại và sắc màu tươi sáng để tái hiện hình ảnh của hoa mai. Bức tranh thường thể hiện những bông hoa mai tỏa sáng và đầy sức sống, với những cành mai uốn cong và lá xanh mướt. Màu vàng của hoa mai thường được sử dụng để biểu thị sự giàu có và sự thịnh vượng.
                            Tranh hoa mai không chỉ mang ý nghĩa về mặt thẩm mỹ mà còn chứa đựng ý nghĩa tâm linh và tinh thần. Hoa mai được coi là biểu tượng của sự phát triển và thịnh vượng, và thường được treo trong những dịp lễ hội hay cúng tế để mang lại may mắn và điềm lành cho gia đình.
                        </p>
                    </div> 
                </li>
                <hr>
                <li>
                    <div class="art-img">
                        <img src="{% static 'image/image_painting/phong_canh/phong_canh_01.jpg' %}" alt="">
                    </div>
                    <div class="art-infor">
                        <h3>Tranh phong cảnh</h3>
                        <p class="art-content">
                            Tranh phong cảnh là một thể loại tranh mà các họa sĩ sử dụng để tái hiện và truyền tải vẻ đẹp của tự nhiên, các địa danh và môi trường xung quanh chúng ta. Tranh phong cảnh thường bao gồm các yếu tố như đồng cỏ, núi non, sông suối, biển cả, cây cối và bầu trời. Loại tranh này mang lại cho người xem cảm giác bình yên, tĩnh lặng và thúc đẩy sự kỳ vọng về sự tồn tại và hiện diện của vẻ đẹp tự nhiên.

                            Tranh phong cảnh có xuất phát từ rất sớm trong lịch sử nghệ thuật, và đã phát triển qua nhiều thời kỳ và trường phái nghệ thuật khác nhau. Từ tranh phong cảnh thực tế chân thực của Trung Quốc và Nhật Bản, đến các phong cách biểu tượng và ấn tượng của châu Âu và Mỹ, tranh phong cảnh đã mang lại những tác phẩm nghệ thuật đa dạng và đẹp mắt.
                            
                            Trong tranh phong cảnh, các họa sĩ thường sử dụng các kỹ thuật và phương pháp vẽ để tạo ra các hiệu ứng ánh sáng, màu sắc và chi tiết để tạo nên vẻ đẹp của cảnh vật. Họ cũng có thể sử dụng các kỹ thuật khác nhau như tranh dầu, tranh nước, tranh acrylic hoặc tranh pastel để biểu đạt ý tưởng và cảm xúc của họ về phong cảnh.
                        </p>
                    </div> 
                </li>
            </ul>
        </div>
        <div class="home-pictures">
            <h2>NHỮNG BỨC TRANH ĐẠT TOP DOANH THU</h2>
            <ul class="list-top">
                <li class="top3 top-pic">
                    <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_08.jpg' %}" alt="">
                    <div class="top-show">
                        <p>Bán được 300+ trong tháng đầu</p>
                        <button>Xem chi tiết</button>
                    </div>
                </li>
                <li class="top2 top-pic">
                    <img src="{% static 'image/image_painting/phong_canh/phong_canh_01.jpg' %}" alt="">
                    <div class="top-show">
                        <p>Đã bán được 500+ trong tháng đầu tiên</p>
                        <button>Xem chi tiết</button>
                    </div>
                </li>
                <li class="top1 top-pic">
                    <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_09.jpg' %}" alt="">
                    <div class="top-show">
                        <p>Đã bán được 1000+ trong tháng đầu tiên</p>
                        <button>Xem chi tiết</button>
                    </div>
                </li>
                <li class="top2 top-pic">
                    <img src="{% static 'image/image_painting/hoa_mai/hoa_mai_02.jpg' %}" alt="">
                    <div class="top-show">
                        <p>Đã bán được 500+ trong tháng đầu tiên</p>
                        <button>Xem chi tiết</button>
                    </div>
                </li>
                <li class="top3 top-pic">
                    <img src="{% static 'image/image_painting/hoa_mai/hoa_mai_03.jpg' %}" alt="">
                    <div class="top-show">
                        <p>Bán được 300+ trong tháng đầu </p>
                        <button>Xem chi tiết</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="home-news">
            <h2>Tin tức</h2>
            <div class="news-content">
                <div class="news-new">
                    <h5><i class="fa-solid fa-users"></i>Tin tức mới nhất</h5>
                    <ul>
                        <li style="width: 100%;" class="new-detail">
                            <div class="news-dt-img">
                                <img src="{% static 'image/image_painting/hoa_hong/hoa_hong_01.jpg' %}" alt="" width="100%">
                            </div>       
                            <h4>Bức tranh tường tuyệt đẹp ở Belfast kể câu chuyện tái sinh</h4>
                            <p style="width: 100%;">Bộ đôi người Hà Lan Studio Giftig đã lên đường đến Belfast để tham 
                                dự lễ hội nghệ thuật đường phố Hit the North hàng năm và để lại một màn 
                                trình diễn tuyệt vời về tài năng của họ. Niels van Swaemen và Kaspar van 
                                Leek đã làm việc cùng nhau trên một tác phẩm bày tỏ lòng kính trọng đối với 
                                lịch sử của tòa nhà mà nó được vẽ trên đó.
                            </p>
                            <div class="news-bottom">
                                <a>Đọc thêm</a>
                                <span>Bởi Jessica Stewart vào ngày 17 tháng 5 năm 2023</span>
                            </div>
                        </li>
                        <hr>
                        <li style="width: 100%;" class="new-detail">
                            <div class="news-dt-img">
                                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_09.jpg' %}" alt="" width="100%">
                            </div> 
                            <h4>Nghệ sĩ biến chiếc đồng hồ ông nội tiết kiệm bằng cách vẽ hoàn toàn nó thành một tác phẩm vũ trụ</h4>
                            <p style="width: 100%;">Tìm thấy cửa hàng tiết kiệm có đầy đủ các khả năng. 
                                Đối với một số người, họ cung cấp một bổ sung mới cho tủ quần áo của họ. 
                                Nhưng đối với những người khác, đó chỉ là khởi đầu của một dự án đáng kinh ngạc. 
                                Nghệ sĩ Gavin Gerundo gần đây đã chia sẻ những bức ảnh về chiếc đồng hồ quả lắc mà 
                                anh ấy đã mua ở cửa hàng đồ cũ và cách anh ấy mô phỏng lại hoàn toàn bề mặt của nó 
                                như một vẻ ngoài năng động. Sử dụng bột màu xanh lam và xanh lá cây, anh ấy đã vẽ một 
                                thiết kế hình học trên mỗi inch của chiếc đồng hồ thẳng đứng.
                            </p>
                            <div class="news-bottom">
                                <a>Đọc thêm</a>
                                <span>Bởi Jessica Stewart vào ngày 17 tháng 5 năm 2023</span>
                            </div>
                        </li>
                        <hr>
                        <li style="width: 100%;" class="new-detail">
                            <div class="news-dt-img">
                                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_08.jpg' %}" alt="" width="100%">
                            </div> 
                            <h4>Bản vẽ kiến ​​trúc tinh tế nắm bắt những ngóc ngách đặc biệt của thành phố và thị trấn</h4>
                            <p style="width: 100%;">Khi đi bộ qua một thị trấn, có nhiều chi tiết không 
                                được chú ý. Tuy nhiên, nghệ sĩ Stéphane Le Lagadec đã tìm kiếm những 
                                ngóc ngách bị bỏ qua này và biến chúng thành bất tử trong các bản vẽ 
                                kiến ​​trúc tinh xảo. Sử dụng một loạt bút liner tốt, anh chụp những góc 
                                phố yên tĩnh, những ô cửa đẹp như tranh vẽ và những ngôi nhà ẩn mình với
                                sự khéo léo bậc thầy. Le Lagadec có kiến ​​thức nền tảng về thiết kế và 
                                kiến ​​trúc; anh ấy hiện đang dạy nghệ thuật hàng ngày và tiếp tục loạt 
                                tranh minh họa của mình ở bên cạnh.
                            </p>
                            <div class="news-bottom">
                                <a>Đọc thêm</a>
                                <span>Bởi Jessica Stewart vào ngày 17 tháng 5 năm 2023</span>
                            </div>
                        </li>
                        <hr>
                        <li style="width: 100%;" class="new-detail">
                            <div class="news-dt-img">
                                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_07.jpg' %}" alt="" width="100%">
                            </div> 
                            <h4>Nghệ sĩ tạo áo giáp kim loại phức tạp cho mèo và chuột lấy cảm hứng từ lịch sử thế giới</h4>
                            <p style="width: 100%;">Sự cạnh tranh giữa mèo và chuột xưa như thời gian. Bạn có thể hình dung
                                 việc nhìn thấy các hiện vật lịch sử liên quan đến mối thù của họ, giống như bạn làm trong 
                                 viện bảo tàng không? Tác phẩm của một nghệ sĩ người Canada khá gần với điều đó. Jeff de Boer 
                                 tạo ra áo giáp kim loại chi tiết tinh xảo cho mèo và chuột lấy cảm hứng từ các nền văn hóa 
                                 và thời kỳ lịch sử cổ đại.
                            </p>
                            <div class="news-bottom">
                                <a>Đọc thêm</a>
                                <span>Bởi Jessica Stewart vào ngày 17 tháng 5 năm 2023</span>
                            </div>
                        </li>
                        <hr>
                        <li style="width: 100%;" class="new-detail">
                            <div class="news-dt-img">
                                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_06.jpg' %}" alt="" width="100%">
                            </div> 
                            <h4>Nghệ thuật đường phố thanh tao của một người phụ nữ đội vương miện hoa xuất hiện ở đường hầm London</h4>
                            <p style="width: 100%;">Sau hai năm tạm dừng sáng tạo tác phẩm ngoài trời ở Vương quốc Anh, bộ đôi 
                                nghệ thuật đường phố người Anh SNIK đã trở lại. Trong khi World Decays là tiêu đề của bức tranh 
                                tường này, nằm trong một đường hầm ở Đông Nam London. Được tổ chức bởi London Calling Blog, bức 
                                chân dung của một người phụ nữ đội vương miện hoa được thực hiện bằng cách sử dụng giấy nến theo 
                                phong cách bán sắc của họ.
                            </p>
                            <div class="news-bottom">
                                <a>Đọc thêm</a> <br>
                                <span>Bởi Jessica Stewart vào ngày 17 tháng 5 năm 2023</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="news-hot">
                    <h5><i class="fa-solid fa-fire"></i>Tin tức hot trong tuần</i></h5>
                    <ul class="news-hot-list">
                        <li class="news-bottom">
                            <h5>Ghé thăm Studio BE ở New Orleans để xem Văn hóa và Nghệ thuật Da đen một cách dễ dàng</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Đây là một trong những lớp học trực tuyến tốt nhất để học vẽ tranh trừu tượng, theo các sinh viên</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Xem 'Joker' của Heath Ledger trở nên sống động như một nhân vật hành động siêu thực</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Đây là một trong những lớp học trực tuyến tốt nhất để học vẽ tranh trừu tượng, theo các sinh viên</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Xem 'Joker' của Heath Ledger trở nên sống động như một nhân vật hành động siêu thực</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Đây là một trong những lớp học trực tuyến tốt nhất để học vẽ tranh trừu tượng, theo các sinh viên</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Xem 'Joker' của Heath Ledger trở nên sống động như một nhân vật hành động siêu thực</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Đây là một trong những lớp học trực tuyến tốt nhất để học vẽ tranh trừu tượng, theo các sinh viên</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Xem 'Joker' của Heath Ledger trở nên sống động như một nhân vật hành động siêu thực</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Đây là một trong những lớp học trực tuyến tốt nhất để học vẽ tranh trừu tượng, theo các sinh viên</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Xem 'Joker' của Heath Ledger trở nên sống động như một nhân vật hành động siêu thực</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Đây là một trong những lớp học trực tuyến tốt nhất để học vẽ tranh trừu tượng, theo các sinh viên</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Xem 'Joker' của Heath Ledger trở nên sống động như một nhân vật hành động siêu thực</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Những Nhân Vật Theo Phong Cách Graffiti Với Đôi Mắt To Biểu Cảm Khám Phá Con Người Bên Trong.</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Tất cả các hình minh họa gốc từ tiểu thuyết của Charles Dickens đều có sẵn để xem trực tuyến</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Những chiếc bình gốm lấy cảm hứng từ cổ điển được trang trí bằng những câu chuyện 360 độ</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Nghệ sĩ mô phỏng lại con gián Met Gala khét tiếng ăn mặc như một người tham dự tuyệt vời</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Nghệ sĩ mô phỏng lại con gián Met Gala khét tiếng ăn mặc như một người tham dự tuyệt vời</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Nghệ sĩ mô phỏng lại con gián Met Gala khét tiếng ăn mặc như một người tham dự tuyệt vời</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Nghệ sĩ mô phỏng lại con gián Met Gala khét tiếng ăn mặc như một người tham dự tuyệt vời</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Nghệ sĩ mô phỏng lại con gián Met Gala khét tiếng ăn mặc như một người tham dự tuyệt vời</h5>
                            <a>Đọc thêm</a>
                        </li>
                        <hr>
                        <li class="news-bottom">
                            <h5>Nghệ sĩ mô phỏng lại con gián Met Gala khét tiếng ăn mặc như một người tham dự tuyệt vời</h5>
                            <a>Đọc thêm</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="home-blog">
            <h2>Blog</h2>
            <div class="blog-content">
                <div class="blog-main">
                    <div class="main-img">
                        <img src="{% static 'image/image_painting/hoa_sen/quat_sen_02.jpg' %}" alt="">
                    </div>
                    <div class="blog-main-content">
                        <span>Ngày xuất bản: 17 tháng 5 năm 2023</span>
                        <h5>Hổ bùa hộ mệnh của Trung Quốc</h5>
                        <p>Trong văn hóa truyền thống của Trung Quốc, hình ảnh của một con hổ được sử 
                            dụng như một biểu tượng để đại diện cho lòng dũng cảm. Hình ảnh của nó cũng 
                            hoạt động như một lá bùa hộ mệnh.
                            <br>
                            Đã chọn hầu hết các loại vải cho triển lãm từ những hình ảnh kỹ thuật số nhỏ trong những năm xảy ra đại 
                            dịch COVID, giờ đây chúng tôi đang học được nhiều điều hơn từ việc nhìn thấy các đồ vật thực khi 
                            chúng đến triển lãm. Khi chúng tôi chuẩn bị hàng dệt để trưng bày với các chuyên gia bảo quản và 
                            chuyên gia trưng bày hàng dệt, đây là cơ hội tuyệt vời để xem xét các đặc điểm chi tiết của từng bộ 
                            trang phục. Ví dụ, trong đường viền rộng của chiếc áo choàng màu hồng tươi sáng của người phụ nữ, 
                            được trang trí bằng những cảnh trong những câu chuyện nổi tiếng, chúng ta có thể thấy một con hổ với 
                            cái đuôi dựng đứng ở mép dưới của mặt sau của trang phục, cùng với các biểu tượng tốt lành khác bao 
                            gồm cả những nút thắt vô tận. và một con công đẹp khoe bộ lông của nó. 
                        </p>
                        <a>Đọc thêm<i class="fa-solid fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="blog-add">
                    <div class="blog-row ">
                        <div class="blog-col">
                            <div class="add-img">
                                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_04.jpg' %}" alt="">
                            </div>
                            <div class="blog-main-content">
                                <span>Ngày xuất bản: 3 tháng 5 năm 2023</span>
                                <h5>Vua… muôn năm! Nghi thức gia nhập ở Ba Tư cổ đại</h5>
                                <p>Khi chúng ta hướng tới lễ đăng quang sẽ diễn ra tại Tu viện Westminster vào Thứ Bảy, 
                                    ngày 6 tháng 5, Giáo sư Lloyd Llewellyn-Jones xem xét các vị vua khác trong lịch sử 
                                    đã được sắc phong như thế nào và khám phá các nghi thức đăng quang của Ba Tư cổ đại. 
                                </p>
                                <button>Đọc thêm<i class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="add-img">
                                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_03.jpg' %}" alt="">
                            </div>
                            <div class="blog-main-content">
                                <span>Ngày xuất bản: 28 tháng 2 năm 2023</span>
                                <h5>Giới thiệu về Trung Quốc thế kỷ 19</h5>
                                <p>Làm thế nào mà sự sáng tạo văn hóa của Trung Quốc thể hiện khả năng phục hồi khi đối 
                                    mặt với mức độ bạo lực chưa từng có trong thế kỷ 19 dài?
                                </p>
                                <button>Đọc thêm<i class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="add-img">
                                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_02.jpg' %}" alt="">
                            </div>
                            <div class="blog-main-content">
                                <span>Ngày xuất bản: 19 tháng 1 năm 2023</span>
                                <h5>Công cụ lật trang: văn học ở Ai Cập cổ đại</h5>
                                <p>Khám phá những câu chuyện giả tưởng và những câu châm biếm chua cay khi Ilona Regulski 
                                    giới thiệu chúng ta với thế giới đa dạng của văn học Ai Cập cổ đại.
                                </p>
                                <button>Đọc thêm<i class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="blog-row">
                        <div class="blog-col">
                            <div class="add-img">
                                <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_01.jpg' %}" alt="">
                            </div>
                            <div class="blog-main-content">
                                <span>Ngày xuất bản: 12 tháng 1 năm 2023</span>
                                <h5>Giới thiệu về Nghệ thuật trên giấy từ năm 1960</h5>
                                <p>Màn hình miễn phí này kỷ niệm món quà mà Bảo tàng nhận được vào năm 2020 bởi nhà 
                                    sưu tập nghệ thuật Hamish Parker ở London. Blog này, của người phụ trách Catherine 
                                    Daunt, nêu bật sáu tác phẩm từ chương trình.
                                </p>
                                <button>Đọc thêm<i class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="add-img">
                                <img src="{% static 'image/image_painting/cay_tre/quat_tre_01.jpg' %}" alt="">
                            </div>
                            <div class="blog-main-content">
                                <span>Ngày xuất bản: 11 tháng 10 năm 2022</span>
                                <h5>Eureka! Đi tìm chìa khóa của Ai Cập cổ đại</h5>
                                <p>
                                Người phụ trách Ilona Regulski xem xét kỹ hơn khoảnh khắc đột phá khi chữ tượng hình 
                                được giải mã và khám phá cách điều này thay đổi mãi mãi hiểu biết của chúng ta về Ai Cập cổ đại. 
                                </p>
                                <button>Đọc thêm<i class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="add-img">
                                <img src="{% static 'image/image_painting/cay_tre/quat_tre_02.jpg' %}" alt="">
                            </div>
                            <div class="blog-main-content">
                                <span>Ngày xuất bản: 4 tháng 11 năm 2022</span>
                                <h5>Kỷ niệm niềm tự hào với tập thể thanh niên</h5>
                                <p>Lắng nghe các thành viên của Tập thể Thanh niên của Bảo tàng Anh khi họ phản ánh về 
                                    sự kiện theo chủ đề LGBTQ mới nhất của họ và xem xét ý nghĩa của Niềm tự hào đối với họ. 
                                </p>
                                <button>Đọc thêm<i class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-shop">
            <h2>Chào mừng bạn đến với The Art Painting</h2>
            <h5>Với rất nhiều thể loại tranh khác nhau</h5>
            <div class="shop-main">
                <img src="{% static 'image/home/shop/backfround.webp' %}" alt="" class="shop-back">
                <div class="shop-content">
                    <button>Khám phá tất cả <i class="fa-solid fa-arrow-right"></i></button>
                    <ul class="shop-row">
                        <li class="shop-col">
                            <img src="{% static 'image/image_painting/hoa_mai/hoa_mai_01.jpg' %}" alt="">
                            <p class="shop_title">Quạt hoa mai</p>
                        </li>
                        <li class="shop-col">
                            <img src="{% static 'image/image_painting/hoa_sen/tranh_sen_03.jpg' %}" alt="">
                            <p class="shop_title">Tranh hoa sen</p>
                        </li>
                        <li class="shop-col">
                            <img src="{% static 'image/image_painting/tranh_thu_phap.jpg' %}" alt="">
                            <p class="shop_title">Tranh thư pháp</p>
                        </li>
                        <li class="shop-col">
                            <img src="{% static 'image/image_painting/gom_cay_tre.jpg' %}" alt="">
                            <p class="shop_title">Bình đựng trà</p>
                        </li>
                        <li class="shop-col">
                            <img src="{% static 'image/image_painting/phong_canh/quat_canh_02.jpg' %}" alt="">
                            <p class="shop_title">Tranh phong cảnh</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_js %}
    <script src="{% static 'js/video.js' %}"></script>
{% endblock link_js %}
