{% extends "pages/base.html" %}
{% load static %}  
{% block title %} 
    Explore
{% endblock %}

{% block link %} 
    <link rel="stylesheet" href="{% static 'painting_list.css' %}" > 
{% endblock %}


{% block content %} 
    <h2 class="title-list">Khám phá</h2>
    <div class="list">  
        <!-- row 1 -->
        <div class="list-pictures">
            {% for painting in paintings %}
            <div class="row ">
                <div class="col col-third picture-overview">
                    <div class="image-detail">
                        <div class="img-contain">
                            <a href="{% url 'detail' pk=painting.id %}" ><img src="{{ painting.image.url }}" class="over-img" alt=""></a>
                        </div>
                        <ul class="function-pictures">
                            <li>
                                {% if paintings_like %}
                                    <i class="fa-solid fa-heart icon_like{{painting.id}} 
                                        `{% for ptl in paintings_like %}          
                                            {% if painting.id == ptl.painting.id %}
                                                active_like
                                            {% endif %}
                                        {% endfor %} `" 
                                        onclick="like_pain('{{ painting.id }}')">
                                    </i>
                                {% else %}
                                    <i class="fa-solid fa-heart" onclick="likeNoUser()"></i>
                                {% endif %}
                            </li>
                            <li><i class="fa-regular fa-comment"></i></li>
                            <li><i class="fa-solid fa-share"></i></li>
                        </ul>
                    </div>

                    <div class="over-des">
                        <p> Name: {{ painting.name }}</p>
                        <p> Date upload: {{ painting.upload_date }}</p>
                    </div>
                    <a href="{% url 'detail' pk=painting.id %}" class="over-click">Xem chi tiết<i class="fa-solid fa-caret-right"></i></a>   
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/painting_list.js' %}"></script>
{% endblock %}