
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.2.1-web/css/all.min.css' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ painting.name }}</title>
    <link rel="stylesheet" href="{% static 'painting_detail.css' %}" > 
    <link rel="stylesheet" href="{% static 'main.css' %}" > 
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="content-left">
                <div class="row1">
                    <a href="{% url 'list' %}"><i class="fa-solid fa-xmark iconLeft"></i></a>
                </div>

                <div class="row2">
                    <div class="container_img">
                    <div class="img-wrap"> 
                        {% comment %} {% for painting in paintings %}  {% endcomment %}
                            <img src="{{ painting.image.url }}" alt="">
                        {% comment %} {% endfor %} {% endcomment %}
                    </div>
                </div>
                </div>

                <div class="row3">
                    <i class="fa-solid fa-up-right-and-down-left-from-center iconRight"></i>
                </div>
                <div class="row4">
                    <div class="container-paintinglq">
                        {% for painting_item in paintinglq %}
                            <div class="imglq">
                                <img src="{{ painting_item.image.url}}" alt="" width=100% class="painting_lq">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="content-right">
                <div class="painting-title">
                    <h2 class="painting-name">{{ painting.name }}</h2>
                    <p class="painting-upload-date">{{ painting.upload_date }}</p>
                    <span>
                    {% if is_user %}
                        <i class="fa-solid fa-heart icon_like{{painting.id}} 
                            `{% if painting_like %} 
                                active_like
                            {% endif %}`"
                            onclick="like_pain(`{{ painting.id }}`)"
                        ></i>
                    {% else %}
                        <i class="fa-solid fa-heart" onclick="likeNoUser()"></i>
                    {% endif %}
                    </span>
                    
                </div>
                <div class="painting_des">
                    {{ painting.description|safe }}
                </div>
                <hr style="color:black; margin:0 1rem;">
                <div class="comment">
                    <div class="input-group mb-3 cmt-input">
                        <img src="{% static 'image/logo.png' %}" alt="" class="user-image">
                        <input id="comment" type="text" class="form-control" placeholder="Nhập bình luận" aria-label="Recipient's username" aria-describedby="button-addon2">
                        {% if is_user %}
                            <button onclick="addComment('{{ painting.id }}')" class="btn btn-outline-secondary" type="button" id="button-addon2">Bình luận</button>
                        {% else %}
                            <button onclick="commentNoUser()" class="btn btn-outline-secondary" type="button" id="button-addon2">Bình luận</button>
                        {% endif %}
                    </div>
                
                <div class="comments">
                <h2>Các bình luận:</h2>
                <ul class="list-group">
                    <li class="cmt cmt_tam"></li>
                    {% for comment in comments %}
                        {% if comment.painting.id == painting.id %}<li class="cmt">
                            <div class="cmt-par">
                                <img src="{% static 'image/logo.png' %}" alt="" class="user-image">
                                <div class="cmt-detail">
                                    <h4>{{ comment.user }}</h4> 
                                    <p>{{ comment.cmt }}</p>
                                </div>
                                <i class="bi bi-three-dots-vertical"></i>
                            </div>
                            <div class="cmt-add">
                                <span>Thích</span>
                                <span>Trả lời</span>
                                <span>5 giờ</span>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
                </div> 
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="{% static 'js/painting_detail.js' %}"></script>
</html>