{% extends "pages/base.html" %}
{% load static %}

{% block title %}
Profile User
{% endblock %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock link %}
{% block content %}
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px; height:200px;">
                           
                            <div class="mt-5 mb-2 avt_profile" style=" overflow: hidden;">
                                <i class="fa-regular fa-user icon_user" style=" font-size: 70px; padding:1.5rem 0;"></i>
                                    {% for item in avatars %}
                                        <img src="{{ item.avt.url }}" alt="" class="avt_img" style=" width:100%; ">
                                    {% endfor %}
                            </div>
                            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                style="z-index: 1;">
                                <a href="{% url 'upload_avt' %}">Sửa ảnh đại diện</a>
                            </button>
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ user.username }}</h5>
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">253</p>
                                <p class="small text-muted mb-0">Ảnh</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">1026</p>
                                <p class="small text-muted mb-0">Người theo dõi</p>
                            </div>
                            <div>
                                <p class="mb-1 h5">478</p>
                                <p class="small text-muted mb-0">Đang theo dõi</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">Thông tin cá nhân</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">Lập trình viên</p>
                                <p class="font-italic mb-1">Sống ở Hà Nội</p>
                                <p class="font-italic mb-0">Chụp ảnh</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            {% comment %} <p class="lead fw-normal mb-0">Recent photos</p> {% endcomment %}
                            <p class="mb-0"><a href="#!" class="text-muted">Hiển thị ảnh đã like</a></p>
                        </div>
                        <div class="img_favor">
                            {% for painting_like in painting_likes %}
                            <div class="card" style="width: 18rem; height: 20rem;">
                                <a href="{% url 'detail' pk=painting_like.painting.id %}">
                                    <img src="{{ painting_like.painting.image.url }}" class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">{{ painting_like.painting.name }}</p>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block link_js %}

    <script src="{% static 'js/profile.js' %}"></script>
{% endblock link_js %}